:root {
  --highlightColor: rgb(49, 152, 125);
  --lightAccentColor: rgb(235, 235, 235);
  --darkAccentColor: rgb(220, 220, 220);
  --lightBackgroundColor: rgb(246, 246, 246);
  --darkHighlightColor: rgb(20, 115, 90);
  --borderColor: rgb(36, 55, 47);
  --darkTextColor: rgb(80, 80, 80);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--darkTextColor);
}

body {
  margin: 0;
}

button {
  background-color: none;
  border-radius: 10px;
  color: var(--highlightColor);
  border: 2px solid var(--highlightColor);
}

button:hover {
  background-color: var(--highlightColor);
  color: white;
  cursor: pointer;
}

input {
  border-radius: 10px;
  padding: 0 10px;
  border: none;
}

#content {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 4fr;
  grid-template-rows: 50px 1fr 60px;
  grid-template-areas:
    'header header'
    'sidebar main'
    'add-project add-task';
}

.header {
  grid-area: header;
  background-color: var(--highlightColor);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--lightAccentColor);
  box-shadow: inset 0px 5px 2px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.project-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
}

.project {
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.project:hover {
  background-color: var(--darkAccentColor);
  cursor: pointer;
}

.active-project {
  background-color: var(--darkAccentColor);
}

.add-project {
  grid-area: add-project;
  background-color: var(--lightAccentColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-project button {
  width: 100px;
  height: 35px;
}

.main {
  grid-area: main;
  background-color: var(--lightBackgroundColor);
  box-shadow: inset 5px 5px 2px -3px rgba(0, 0, 0, 0.1);
  padding: 0 30px 0 50px;
}

.main h2 {
  margin: 30px 0;
}

.task-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.task-list li {
  border-bottom: 2px solid var(--lightAccentColor);
  padding: 5px 0;
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
}

.task-checkbox {
  grid-column: 1/2;
  grid-row: 1/3;
  border: 1px solid var(--lightAccentColor);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1em;
  color: var(--lightBackgroundColor);
}

.task-checkbox:hover {
  background-color: rgb(218, 238, 218);
  border: 1px solid var(--darkAccentColor);
  color: var(--highlightColor);
  cursor: pointer;
}

.task-title {
  grid-column: 2/3;
  grid-row: 1/2;
}

.task-date {
  font-size: 0.8em;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 2px 0;
}


.add-task {
  grid-area: add-task;
  background-color: var(--lightBackgroundColor);
  box-shadow: inset 5px 0px 2px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task button {
  width: 100px;
  height: 35px;
}

.background-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

.add-project-div,
.add-task-div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -200px;
  width: 400px;
  height: 120px;
  border-radius: 15px;
  background-color: var(--darkAccentColor);
  animation: fadeIn 0.2s;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.add-project-div form,
.add-task-div form {
  display: grid;
  padding: 15px;
  height: 90px;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.add-project-div button,
.add-task-div button {
  width: 100px;
  justify-self: end;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
